@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
  <title>Aurelia Client</title>
  <base href="~/" />
  <environment exclude="Development">
    <link href="~/dist/app.css" rel="stylesheet" asp-append-version="true" />
  </environment>
</head>
<body>
  <div aurelia-app="main"></div>

  <script src="./dist/main.js" asp-append-version="true"></script>
</body>
</html>
